body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:30px;
  top:27px;
  width:180px;
  height:36px;
  font-size:28px;
  color:#009900;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:90px;
  width:1000px;
  height:41px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:770px;
  top:94px;
  width:200px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:689px;
  top:102px;
  width:41px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:609px;
  top:102px;
  width:45px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:41px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:15px;
  top:95px;
  width:30px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u16 {
  position:absolute;
  left:15px;
  top:105px;
  width:30px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u17 {
  position:absolute;
  left:15px;
  top:115px;
  width:30px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:801px;
  width:1000px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:365px;
  top:843px;
  width:270px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:131px;
  width:270px;
  height:489px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:489px;
}
#u24 {
  position:absolute;
  left:2px;
  top:236px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:32px;
  top:174px;
  width:138px;
  height:16px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:32px;
  top:224px;
  width:106px;
  height:16px;
  color:#009900;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:384px;
  top:198px;
  width:110px;
  height:22px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:564px;
  top:201px;
  width:116px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:863px;
  top:201px;
  width:67px;
  height:16px;
  text-decoration:underline;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:707px;
  top:201px;
  width:101px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:384px;
  top:230px;
  width:616px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:599px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:616px;
  height:1px;
}
#u38 {
  position:absolute;
  left:384px;
  top:250px;
  width:616px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:430px;
  top:305px;
  width:290px;
  height:26px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:408px;
  top:254px;
  width:82px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:430px;
  top:284px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:430px;
  top:310px;
  width:100px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:430px;
  top:331px;
  width:290px;
  height:26px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:430px;
  top:336px;
  width:100px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:384px;
  top:410px;
  width:616px;
  height:120px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:120px;
}
#u53 {
  position:absolute;
  left:2px;
  top:52px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:408px;
  top:414px;
  width:75px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:430px;
  top:444px;
  width:100px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:430px;
  top:470px;
  width:100px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:430px;
  top:491px;
  width:290px;
  height:26px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:430px;
  top:496px;
  width:100px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:880px;
  top:302px;
  width:56px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:880px;
  top:462px;
  width:38px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:384px;
  top:580px;
  width:616px;
  height:40px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:612px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:384px;
  top:648px;
  width:111px;
  height:44px;
  font-size:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:44px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:564px;
  top:651px;
  width:116px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:863px;
  top:651px;
  width:67px;
  height:16px;
  text-decoration:underline;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:707px;
  top:651px;
  width:101px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:384px;
  top:680px;
  width:616px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:599px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:616px;
  height:1px;
}
#u79 {
  position:absolute;
  left:930px;
  top:204px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  height:1px;
}
